
@model CapaModelo.V_Modelos.VM_Operaciones
@{
    ViewBag.Title = "MantenimientoIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mantenimiento</h2>
<div class="row">
    @foreach (var items in Model._TblOperaciones)
    {

        <div class="card" style="width: 18rem;">
            <a href="#">
                <div class=" card-header" style="font-family:'Times New Roman'">Título</div>

                <div class="card-body">
                    <h5 class="card-title">Descripción</h5>
                </div>
            </a>

        </div>


    }
</div>


