@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="~/Content/estilos.css" />
</head>
<body>
    <!--- <nav class="navbar">
         <div class="logo">
             <a href="enlace.html"><img src="logo.png" alt="logo" srcset="" /></a>
         </div>
         <ul>
             <li><a href="#inicio">Inicio</a></li>
             <li><a href="#quienes-somos">Quienes Somos</a></li>
             <li><a href="#monedero">Monedero</a></li>
             <li><a href="#iniciar-sesion">Iniciar Sesión</a></li>
             <li><a class="crear-cuenta" href="#crear-cuenta">Crear Cuenta</a></li>
         </ul>
     </nav> -->
    <main class="content-all">
        <div class="contenido">
            <img src="~/img/ipn.png" alt="Imagen" />
            <div class="texto">
                <h1>La mejor forma para comenzar tu vida financiera</h1>
                <p>
                    Donde la innovación se encuentra con la banca del futuro. Con
                    nuestra plataforma fácil de usar y segura, podrás realizar tus
                    transacciones financieras en cualquier momento y desde cualquier
                    lugar. Desde transferencias instantáneas hasta gestión de
                    inversiones, estamos aquí para hacer que tu experiencia bancaria sea
                    más conveniente y eficiente que nunca. Únete a nosotros hoy y
                    descubre el poder de la banca digital en tu vida.
                </p>

                <div class="more-info"><a href="">Mas informacion</a></div>
            </div>
        </div>
    </main>
    <h1 style="
        display: flex;
        margin: 0 auto;
        justify-content: center;
        color: white;
        margin-top: 10px;
      ">
        ¿Que ofrecemos?
    </h1>
    <div class="parrafos">
        <section class="1">
            <p>
                Ofrecemos una plataforma bancaria fácil de usar en dispositivos
                móviles y web, con funciones como pagos móviles y alertas de gastos,
                para una gestión financiera conveniente y atractiva para jóvenes.
            </p>
        </section>
        <section class="2">
            <p>
                Diseñar programas de recompensas adaptados a las necesidades de los
                jóvenes, como descuentos en comercios populares y devolución de dinero
                en compras recurrentes, para incentivar su participación y fidelidad.
            </p>
        </section>
        <section class="3">
            <p>
                Proporcionar servicios educativos sobre ahorro, inversión y crédito
                responsable, incluyendo herramientas de seguimiento de gastos y
                talleres presenciales, para ayudar a los jóvenes a tomar decisiones
                financieras informadas desde una edad temprana.
            </p>
        </section>

        <section class="4">
            <p>
                Ofrecemos opciones de crédito con tasas competitivas y flexibles, así
                como periodos de gracia, para ayudar a los jóvenes a construir un
                historial crediticio sólido desde el principio, preparándolos para
                futuras solicitudes de préstamos importantes.
            </p>
        </section>
    </div>
    <section class="suscripcion">
        <div class="suscripcion-content">
            <h2>Suscríbete a nuestro boletín para recibir información:</h2>
            <form action="#" method="POST">
                <label for="email">Correo electrónico:</label>
                <input type="email"
                       id="email"
                       name="email"
                       placeholder="Email"
                       required />
                <button type="submit">Suscribirse</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <div class="column">
                <h1>GOLD BANK</h1>
                <p>&copy; 2024 Gold bank</p>
                <p>Todos los derechos reservados grupo:</p>
            </div>

            <div class="column">
                <h1>Nosotros</h1>
                <ul>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Carreras</a></li>
                    <li><a href="#">Móvil</a></li>
                </ul>
            </div>
            <div class="column">
                <h1>Contacto</h1>
                <ul>
                    <li><a href="#">Ayuda/Preguntas frecuentes</a></li>
                    <li><a href="#">Prensa</a></li>
                    <li><a href="#">Afiliados</a></li>
                </ul>
            </div>
            <div class="column">
                <h1>Más</h1>
                <ul>
                    <li><a href="#">Airlineless</a></li>
                    <li><a href="#">Aerolínea</a></li>
                </ul>
            </div>
            <div class="column">
                <h1>&nbsp;</h1>
                <h2>¡Próximamente en!</h2>
                <div class="icons">
                    <img src="google.png" alt="Google Play" />
                </div>
            </div>
        </div>
    </footer>
</body>
</html>